.lg-menu-btn-1 {
    background: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3px;
    padding: 0;
    cursor: pointer;
    transition: transform 0.5s cubic-bezier(0.65, 0, 0.35, 1);

    span {
        width: 12px;
        height: 12px;
        background: #fff;
        border-radius: 50%;
        transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
    }

    &:hover {
        transform: rotate(90deg);

        span {
            &:nth-child(1) {
                transform: translate(-3px, -3px);
            }

            &:nth-child(2) {
                transform: translate(3px, -3px);
                transition-delay: 0.05s;
            }

            &:nth-child(3) {
                transform: translate(-3px, 3px);
                transition-delay: 0.1s;
            }

            &:nth-child(4) {
                transform: translate(3px, 3px);
                transition-delay: 0.15s;
            }
        }
    }
}

.lg-pr-btn-1 {
    font-family: var(--lg-font-1);
    font-weight: 700;
    background: var(--lg-clr-gd-1);
    line-height: 1.5;
    color: #fff;
    font-size: 16px;
    border-radius: 100px;
    display: inline-flex;
    align-items: center;
    gap: 25px;
    padding: 16px 20px;
    padding-right: 28px;
    position: relative;
    z-index: 1;

    .icon {
        width: 30px;
        height: 30px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        border-radius: 50%;
        flex: 0 0 auto;
        color: #000;
        font-size: 16px;
        transform: rotate(-45deg);
    }

    &::after {
        content: "";
        width: 1px;
        height: calc(100% - 4px);
        background-color: #fff;
        position: absolute;
        left: 63px;
        top: 2px;
        z-index: 1;
        opacity: 25%;
    }
}
