/* 
    home-page-css-start
*/


.lg-home-2 {
    @media #{$over,$xxxl,$xxl} {
        &::-webkit-scrollbar-thumb {
            background: var(--lg-clr-gd-2);
        }
    }
}

.ap-home-3 {
    background-color: #111111;
}



.ag-home-3 {
    background-color: #F5F5F5;


    .wa-back-to-top {
        background-color: var(--ag-clr-h-1);

        &:hover svg * {
            fill: var(--ag-clr-h-1);
        }
    }

    @media #{$over,$xxxl,$xxl} {
        &::-webkit-scrollbar-thumb {
            background: var(--ag-clr-gd-3);
        }
    }
}




/* 
    home-page-css-end
*/